<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, world! - from Suraj</title>

    <link rel="stylesheet" href="/main.css">

</head>

<header class="header" id="header">
    <div class="flex-container headerMaster headerDarkMode" id="headerMaster">
        <a href="/">Home</a>
        <a href="/pages">Posts</a>
    </div>
</header>

<body>
    <script>0</script>
    <div class="parentBody" id="parentBody">
        <div class="flex-container mainBody" id="mainBody">
            <div class="flex-item" id="contentDiv">
                {{content}}
            </div>
        </div>
    </div>
</body>
<footer class="footer" id="footer">
    <div class="flex-container footerMaster" id="footerMaster">
        <div class="flex-container footerDarkMode">
            <div class="flex-item toggleDarkMode"
                title="I store no cookies. The night mode toggle is basic JS time checking. This site is mostly built from scratch.">
                <label class="switch">
                    <input type="checkbox" onclick="goDark(true)" id="goDarkToggle">
                    <span class="slider round"></span>
                </label>
                <label class="toggleDarkText">
                    🌙&nbsp
                </label>
            </div>
        </div>
    </div>
</footer>
</html>
